/* src/components/Navbar.module.css */

.foot {
  width: 100%;
  /* background-color: #72707036; */
  /* position: absolute; */
  bottom: -30rem;
  font-family: var(--font-mono);
  /* margin-top: 2rem; */

}

.footContainer {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin: auto;
}

  .logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .footLinks {
    display: flex;
    gap: 20px;
  }
  
  .footLink {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .footLink:hover {
    color: #f0cf50;
  }
  .shopLink{
    text-decoration: underline ;
    display: inline-block;
    flex-direction: column;
    margin: 20px;
  }
  .flinks{
 text-align: center;
  }
  @media (min-width: 601px) and (max-width: 1120px) {
    .footer{
      margin-top: 4rem;
    }
  }