/* src/components/Navbar.module.css */

.foot {
  width: 100%;
  /* background-color: #72707036; */
  position: absolute;
  bottom: -20rem;
  font-family: var(--font-mono);

}

.footContainer {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin: auto;
}
/* .footer { */
    /* width: 100%;
    background-color: #7270703b;
    margin-top: 10rem;
    bottom: 0;
    font-family: var(--font-mono);
     padding: 10px 20px;
    margin: auto;
    text-align: center; */

    /* padding: 2rem; */
    /* display: flex; */
/* } */
  
  /* .footContainer {
    display: flex;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    justify-content: space-between;
  } */
  
  .logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .footLinks {
    display: flex;
    gap: 20px;
  }
  
  .footLink {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .footLink:hover {
    color: #f0cf50;
  }
  .shopLink{
    text-decoration: underline ;
    display: inline-block;
    flex-direction: column;
    margin: 20px;
  }
  .flinks{
 text-align: center;
  }
  