.mains {
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  font-family: var(--font-mono);
  /* position: relative;  */
}

.description {
  display: block;
  font-size: 0.85rem;
  padding: 6rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* z-index: 2; */
}

.levels {
  /* background: rgba(184, 184, 184, 0.093); */
  background-image: linear-gradient(rgba(115, 115, 115, 0.007), rgba(202, 199, 201, 0.124));
  border-radius: 12px;
  width: 25%;
  margin: 2rem;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.basics {
  color: green;
  margin-bottom: 2rem;
}

.mids, .hard {
  display: flex;
  margin-bottom: 2rem;
}

.hard {
  color: red;
}

.description h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.listOfchip{
  width: 30rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap:1rem;
  text-align: center;
  justify-items: center;
  margin-left: 35%;
  /* display: inline-block; */


}

.description p {
  margin-top: 3rem;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.addPrize {
  margin-top: 80px;
  margin: 4rem;
  /* justify-content: center; */
}

.prize {
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chip {
  /* margin-top: 10px; */
}

.prize h1 {
  margin-bottom: 20px;
}

.twobttn {
  justify-content: center;
  flex-wrap: wrap;
}

.pbutton {
  text-align: center;
  justify-content: center;
  background: none;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  margin: 2rem;
  cursor: pointer;
}

.divider{
  margin-bottom:2rem ;
}

/* Mobile */
@media (max-width: 700px) {
  .description {
    font-size: 0.8rem;
  }

  .pbuttons {
    text-align: center;
    flex-direction: column;
  }

  .levels {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    /* min-width: 10rem; */

  }
  .basics, .mids , .hard{
    min-width: 9rem;
  }
  

  .twobttn {
    margin-right: 20px;
  }

  .description p,
  .description div {
    justify-content: center;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
  }
  .listOfchip{
    display: flex;
    margin-left: 5%;
    padding-left: 2rem;
    padding-right: 2rem;

  }
  .description div {
    padding: 4rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 700px) and (max-width: 1120px) {
  .description {
    /* margin: 1rem; */
    font-size: 0.8rem;
    min-width: 30rem;
  }

  .levels {
    display: inline-block;
    text-align: center;
    margin: 1rem;
    margin-top: 1rem;
    min-width: 10rem;
  }
}

@media (prefers-color-scheme: dark) {
  /* Add dark mode styles if necessary */
}

